### Basics of Python

Python is a high-level, interpreted, interactive and object-oriented scripting language. Python is designed to be highly readable. It uses English keywords frequently where as other languages use punctuation, and it has fewer syntactical constructions than other languages.

### Variables and Data Types
Python has five standard data types âˆ’

- Numbers : int, float, complex
- String : str
- Sequence Types : list, tuple, range
- Mapping Type : dict
- Boolean : bool (True, False)  
- Set : set, frozenset

***Note: Indexes always starts with 0***
***You must indent the python code blocks (check functions, loops and class sections)***

In [ ]:
### Variables
# A variable is a location in memory used to store some data (value).
# They are given unique names to differentiate between different memory locations. The rules for writing a variable name is same as the rules for writing identifiers in Python.

print('====================')
print('Numbers Example')
print('====================')
# Numbers
a = 5
b = 10.2
c = a + b
print(f'sum of {a}, {b}:', c)
print()
# a, b, c are variables, 5, 10 are values.


 **String:** Strings are basically a collection (list) of characters. They are immutable, meaning that once a string is created, it cannot be changed(unlike List). Example: "Hello World", here characters H, e, l, l, o, W, o, r, l, d are stored in a string.

In [14]:
print('====================')
print('String Example')
print('====================')

name = "John Doe"
print(name)
print(name[0]) # will print 0th character of the string
print(name[2:5]) # will print characters from 2 to 4
print(name[2:]) # will print characters from 2 to end
print()

====================
String Example
====================
John Doe
J
hn
hn Doe

In [17]:
print('====================')
print('List Example')
print('====================')

# List: Collection of items which is ordered and changeable. Allows duplicate members.

list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

# change the value of list
list[0] = 'efgh' # valid syntax
list[2] = 1000 # valid syntax

print('Whole list:', list)
print('First element:', list[0]) 
print('2nd to 3rd element of list', list[1:3])
# here, index 1 is the second element and index 3 is the fourth element
# in case of list[1:3], it will print elements from index 1 to 2
# format of list[start_index:end_index+1]
# if you want to access 3rd(index: 2) and 4th(index: 3) element then list[2:4], you need to put end_index+1, which is 3+1

# Add new element to the list
list.append('new element')
print('\nAfter adding new element:', list)

# Remove an element from the list
list.remove('john')
print('\nAfter removing john:', list)

# Remove last element from the list
list.pop()
print('\nAfter removing last element:', list)

# Remove element at index 2
list.pop(2)
print('\nAfter removing element at index 2:', list)

# Remove all elements from the list
list.clear()
print('\nAfter removing all elements:', list)

====================
List Example
====================
Whole list: ['efgh', 786, 1000, 'john', 70.2]
First element: efgh
2nd to 3rd element of list [786, 1000]

After adding new element: ['efgh', 786, 1000, 'john', 70.2, 'new element']

After removing john: ['efgh', 786, 1000, 70.2, 'new element']

After removing last element: ['efgh', 786, 1000, 70.2]

After removing element at index 2: ['efgh', 786, 70.2]

After removing all elements: []


**Tuple:** Collection of items which is ordered and unchangeable. Allows duplicate members.

In [ ]:
print('====================')
print('Tuple Example')
print('====================')


tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')
print(tuple)

# Uncomment the below lines to see the error
# print('====================')
# print('Tuple vs List')
# print('====================')
# # List is mutable, Tuple is immutable
# 
# list = [9, 1, 2, 3, 4]
# list[0] = 10 # valid syntax
# 
# tuple = (9, 1, 2, 3, 4)
# tuple[0] = 10 # invalid syntax

**Dictionary:** It is a collection of key-value pairs. In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and value can be of any type.

In [12]:
# Format of dictionary,
# name_of_dict = {key1: value1, key2: value2, key3: value3, ...}
# Access the value using key
# name_of_dict[key1]

print('====================')
print('Dictionary Example')
print('====================')

a_dict = {'name': 'John', 'age': 25, 'profession': 'Student'}
print(a_dict)
print(a_dict['name'])
print(a_dict['age'])
print(a_dict['profession'])

# Add new key-value pair
print('\nAfter adding city')
a_dict['city'] = 'New York'
print(a_dict)

# Update the value of a key
print('\nAfter updating age')
a_dict['age'] = 26
print(a_dict)

# Delete a key-value pair
print('\nAfter deleting profession')
del a_dict['profession']
print(a_dict)
print()

====================
Dictionary Example
====================
{'name': 'John', 'age': 25, 'profession': 'Student'}
John
25
Student

After adding city
{'name': 'John', 'age': 25, 'profession': 'Student', 'city': 'New York'}

After updating age
{'name': 'John', 'age': 26, 'profession': 'Student', 'city': 'New York'}

After deleting profession
{'name': 'John', 'age': 26, 'city': 'New York'}